#picture{
  display: block;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
#letters{
  width:400px;
  height:200px;
}
#words{
  width:60%;
  height:200px;
  margin: 5px;
  letter-spacing: 4px;
  font-size: 20px;
}
#tablestyle{
  border-style: inset;
  width:auto;
//  margin-left: 25%;
  //margin-right: 25%;
  width: 100%;
}
.button-unclick {  
  background-color: #EEFFDB;
}
  
.button-click{
  background-color: #FFF000;
  //background-color: #EEFF00;
 }

.button-click,.button-unclick{
  display: inline-block;
  margin: 5px;
  width: 40px;
  height: 40px;
  float:left;  
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-size: 26px;
  font-style:italic;

  box-shadow: 0 3px 20px rgba(0,0,0,.25),
  inset 0 2px 0 rgba(255,255,255,.6),
  0 2px 0 rgba(0,0,0,.1),
  inset 0 0 20px rgba(0,0,0,.1);
}
