<!doctype html>
<html lang="en" ng-app="gallow">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>   
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>       
   <body ng-controller="recordsController as record">        
   <table border="1" width = "100%">
      <tr>
          <td rowspan="2" width="32px"><img src="images/tempPhoto.jpg"></img></td>
          <td>Сергей Дарин</td>
          <td rowspan="2">Меню</td>
          <td rowspan="2"><a href ng-click="record.getRandomRecord();">Новая игра</a></td>
          <td rowspan="2">Статистика</td>
      </tr>
      <tr>
          <td>Очки : 1604</td>
      </tr>
    </table>

      <table id="tablestyle">
        <tr>
          <td id = "words">{{record.result}}</td>          
          <td id = "picture"><img ng-src = "{{'images/' + record.mistakes + '.jpg'}}"</img></td>
        </tr>
        <tr>
          <td ng-show = "record.gameFlag" id = "letters" colspan="2">            
              <div ng-repeat="temp in record.alphavit">
                <div class = "button-unclick" ng-click = "record.checkLetter(temp);" ng-class = "{'button-click':record.isClicked(temp)}" >
                  {{temp}}
                </div>
              </div>
          </td>
          <td ng-hide = "record.gameFlag" id = "words">{{record.currentRecord.quote}} (с) {{record.currentRecord.author}}</td>
        </tr>
      </table>      
      <div ng-if = "record.firstCall">
        {{record.getRandomRecord()}}
      </div>
  </body>
</html>
 